# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystems are summarized.

#### **Objectives**
- Listed popular languages for Data Science
- Listed commonly used libraries for data science
- Created a table of open-source environments for development
- Used Markdown cells
- Wrote an expression and solved it using a code cell

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

#### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

|Data Science Tools|
|------------------|
|Jupyter|
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Anthony Hall